<div>
  <h1>Timers</h1>
  <app-timer [init]="65" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer [init]="6" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer [init]="4" (onComplete)="logCountdownEnd()"></app-timer>

  <button class="add" (click)="showAddTimer()">+</button>

  <app-alert-view [hidden]="!isAddTimerVisible">
    <div header>Add Timer</div>
    <label>Set the number of seconds for your timer</label>
    <input name="time" [(ngModel)]="time" />
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button>Ok</button>
  </app-alert-view>
</div>
